datasets==2.16.1
debugpy==1.8.0
git-filter-repo==2.34.0
git-lfs==1.6
gitdb==4.0.11
GitPython==3.1.41
numba==0.58.1
numpy==1.26.0
oauthlib==3.1.1
odfpy==1.4.1
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
openpyxl==3.0.6
opt-einsum==3.3.0
pandas==1.4.1
pandocfilters==1.5.0
Pillow==9.2.0
psycopg2==2.8.6
pure-eval==0.2.2
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.20
pydantic==2.5.3
pydantic-extra-types==2.4.1
pydantic-settings==2.1.0
pydantic_core==2.14.6
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.16.1
PyJWT==2.1.0
pynvml==11.5.0
pyparsing==3.1.1
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.2
python-dotenv==0.21.1
python-json-logger==2.0.7
python-multipart==0.0.6
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.11
PyYAML==5.4.1
pyzmq==25.1.1
six==1.15.0
streamlit==1.30.0
svglib==1.4.1
sympy==1.12
whisper==1.1.10
yfinance==0.2.28
